{%extends "index.html"%} {%block style%}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/howtouse.css')}}"
/>
{%endblock style%} {%block howto%}
<!-- How-to-use Image and Text Description Section -->
<section class="how-to-use">
  <div class="instructions-grid">
    {% for i in range(1, 13) %}
    <div class="instruction-item">
      <img
        src="{{ url_for('static', filename='images/' + i|string + '.png') }}"
        alt="Step {{ i }}"
      />
      <p>
        <span style="color: #ffe705; font-weight: bolder">Step {{ i }}</span>:
        {{ descriptions[i - 1] }}
      </p>
    </div>
    {% if i < 12 %}
    <div class="arrow">→</div>
    {% endif %} {% endfor %}
  </div>
</section>
{%endblock howto%}
